
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Initial</title>
</head>
<body>
    <div style="padding:200px 10px 10px 500px;">
        <button type="button" id="Employee" style="width: 250px;height: 150px;" onclick="location.href='@Url.Action("Index","Login")'">Employee Login</button>
        <button type="button" id="Member" style="width: 250px;height: 150px;" onclick="location.href='@Url.Action("MemberLogin","Login")'">Member Login</button>
    </div>
</body>
</html>
